.menu{
  float: right;
  list-style: none;
  border: 2px solid white;
  border-right: none;
  border-left: none;
  font-size: 2.2em;
  color: white;
  font-family: $fontMonserrat;
  margin: 50px 100px 0 0;
}
.menu:hover{
  color: black;
  border-color: black;
}
.header{
  max-width: 100%;
  background-image: url("/img/bg.png");
  background-size: cover;
}
.header-logos{
  max-width: 100%;
  padding: 3% 0% 52% 0%;
}
.header-logos h2{
  float: left;
  font-family: $fontMonserrat;
}
.header-logos h2 a{
  color:white;
  text-decoration: none;
}
.header-logos h2{
  font-size: 40px;
  background-color: black;
  color: white;
  padding: 1%;
  margin-left: 10%;
}

