.wrapper{
  margin: 0 auto;
  width: 1600px;
  max-width: 100%;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
hr{
  max-width: 100%;
  border: 2px solid;
  border-radius: 20px;
  margin: 40px 770px 40px 770px;
}
