.main-content{
  text-align: center;
  h3{
    font-family: $fontRaleway;
    font-size: 2em;
  }
  h1{
    font-family: $fontMonserrat;
    font-size: 3em;
  }
  h4{
    font-family:$fontRaleway;
 }
   p{
    font-family: $fontRaleway;
    font-size: 1em;
  }
}
